APP_NAME="users"
APP_ENV="staging"
APP_PORT="8081"
APP_STATIC_TOKEN="secret"
APP_JWT_SECRET="secret"

KAFKA_URL="localhost:9092"
REDIS_URL="localhost:6379"
DB_DSN="postgresql://postgres:admin@localhost:5432/postgres"

WAREHOUSE_SERVICE_URL="localhost:8083"
SHOP_SERVICE_URL="localhost:8084"
PRODUCT_SERVICE_URL="localhost:8082"
